.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > .main-wrapper {
  flex: 1 1 100%;

  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px 20px 40px;

  display: grid;
  grid-gap: 24px;

  /*  Mobile layout */
  grid-template-areas:
    "title"
    "config"
    "preview"
    "tools";
}

.App > .main-wrapper > .title {
  grid-area: title;
}

.App > .main-wrapper > .title h1 {
  font-weight: 400;
  font-size: 32px;
  margin: 0.3em 0 0.2em;
}

.App > .main-wrapper > .title p {
  margin: 16px 0 0;
}

.App > .main-wrapper > .preview {
  grid-area: preview;
}

.App > .main-wrapper > .preview h2 {
  font-weight: 400;
  font-size: 28px;
  margin: 32px 0 16px;
}

.App > .main-wrapper > .preview > h2:first-child {
  margin-top: 0;
}

.App > .main-wrapper > .preview .image-preview-wrapper {
  margin: -8px;
}

.App > .main-wrapper > .preview .image-preview-padding {
  padding: 8px;
}

.App > .main-wrapper > .config {
  grid-area: config;
}

.App > .main-wrapper > .config h2 {
  margin-top: 24px;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 16px;
}

.App > .main-wrapper > .config h2:first-child {
  margin-top: 0;
}

.App > .main-wrapper > .config .mobile-scroll-hint {
  margin-top: -6px;
  margin-bottom: 10px;
}

.App > .main-wrapper > .tools {
  grid-area: tools;
}

.App > .main-wrapper > .tools h2 {
  margin-top: 0;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 16px;
}

.App > .main-wrapper > .tools > .tool-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.App > .footer {
  flex: 0 0 auto;
  background-color: #ddd;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07) 0px, transparent 40px);
  border-top: 1px solid #ccc;
}

.App > .footer > .footer-content {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 30px 20px 10px;
}

.App > .footer p {
  margin: 0 0 16px;
}

.App > .footer .twemoji-info .emoji {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

@media (min-width: 1000px) {
  .App > .main-wrapper {
    /*  Desktop layout */
    grid-template-areas:
      "title title"
      "preview config"
      "preview tools";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content min-content 1fr;
  }

  .App > .main-wrapper > .config .mobile-scroll-hint {
    display: none;
  }
}
