.App {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  display: grid;
  grid-gap: 16px;

  /*  Mobile layout */
  grid-template-areas:
    "title"
    "config"
    "preview"
    "info";
}

.App > .title {
  grid-area: title;
}

.App > .title h1 {
  font-weight: 400;
  font-size: 32px;
  margin: 0.3em 0 0.2em;
}

.App > .preview {
  grid-area: preview;
}

.App > .preview h2 {
  font-weight: 400;
  font-size: 28px;
  margin: 32px 0 16px;
}

.App > .config {
  grid-area: config;
}

.App > .config h2 {
  margin-top: 24px;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 8px;
}

.App > .config h2:first-child {
  margin-top: 0;
}

.App > .info {
  grid-area: info;
}

.App > .info h2 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 8px;
}

.App > .info .allow-break {
  word-break: break-all;
}

.App > .info .twemoji-info .emoji {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

@media (min-width: 1000px) {
  .App {
    /*  Desktop layout */
    grid-template-areas:
      "title ."
      "preview config"
      "preview info";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto minmax(1px, min-content) auto;
  }
}
